@model QuizApps.Models.quiz.ShowQuiz
@{
    ViewBag.Title = "StartQuiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
<link href="~/ExternalLibs/CSS/bootstrap.min.css" rel="stylesheet" />
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@
<script src="~/ExternalLibs/JS/jquery.min.3.1.1.js"></script>
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
<script src="~/ExternalLibs/JS/bootstrap.min.js"></script>



<link rel="stylesheet" type="text/css" href="~/css/customStyle.css">
<html>
<body oncontextmenu="return false;" @*onload="Listing.GetTopicList();"*@>

    <div class="hidden">
        <div class="url-Home-QuizSubmitted">@Url.Action("QuizSubmitted", "Home")</div>
        <div class="url-Home-TakeQuiz">@Url.Action("TakeQuiz", "Home")</div>
    </div>
    <style>
        .col-md-1 {
            width: 4.7%;
            float: left;
            -webkit-min-logical-width: 1%;
        }
    </style>
    <div class="hidden">
        <div id="sub-topic-id">@TempData["SubId"]</div>
    </div>
    <section class="content-con">
        <div class="container">
            <div class="row">
                <div id="instruct" class="col-sm-8 col-md-9 col-xs-12">
                    <div id="QuizQ" class="sidebar-block">
                        <div class="input-group-sm">
                            <h4>
                                <span>
                                    Take Quiz @if (TempData["SubId"] != null)
                                    {
                                        TempData.Keep("SubId");<span id="countdown" class="pull-right" style="color: #fff; margin:0.1em"></span> <i class="fa fa-clock-o fa-lg pull-right" style="color:#fff;margin:0.1em" aria-hidden="true"></i>}
                                    else
                                    {<span class="pull-right" style="color: #fff; margin:0.1em">00:00</span> <i class="fa fa-clock-o fa-lg pull-right" style="color:#fff;margin:0.1em" aria-hidden="true"></i>}
                                </span>
                            </h4>
                        </div>
                        <div class="sidebar-content create-quiz custom-create ">
                            <div id=" hover-style">
                                @if (TempData["SubId"] != null)
                                {
                                    TempData.Keep("SubId");
                                    <div class="container">
                                        <div class="row bs-wizard" style="border-bottom:0;">

                                            <div id="q1" class="col-md-1 bs-wizard-step active">

                                                <div class="text-center bs-wizard-stepnum">1</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>

                                            <div id="q2" class="col-md-1 bs-wizard-step disabled">
                                                <!-- complete -->
                                                <div class="text-center bs-wizard-stepnum">2</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>

                                            <div id="q3" class="col-md-1 bs-wizard-step disabled">
                                                <!-- complete -->
                                                <div class="text-center bs-wizard-stepnum">3</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>

                                            <div id="q4" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 4</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>

                                            <div id="q5" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 5</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>

                                            <div id="q6" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 6</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>

                                            <div id="q7" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 7</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>

                                            <div id="q8" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 8</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>

                                            <div id="q9" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 9</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>

                                            <div id="q10" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 10</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q11" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 11</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q12" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 12</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q13" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 13</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q14" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 14</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q15" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 15</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q16" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 16</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q17" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 17</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q18" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum">18</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q19" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 19</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q20" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 20</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                        </div>
                                        <div class="row bs-wizard" style="border-bottom:0;">
                                            <div id="q21" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 21</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q22" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 22</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q23" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 23</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q24" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 24</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q25" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 25</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q26" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 26</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q27" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 27</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q28" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 28</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q29" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 29</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                            <div id="q30" class="col-md-1 bs-wizard-step disabled">
                                                <!-- active -->
                                                <div class="text-center bs-wizard-stepnum"> 30</div>
                                                <div class="progress"><div class="progress-bar"></div></div>
                                                <a href="#" class="bs-wizard-dot"></a>
                                                <div class="bs-wizard-info text-center"></div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div id="QuizArea">
                                    <input type="hidden" id="StartSubid" value="" />
                                    <div class="quizContainer">
                                        @if (TempData["SubId"] != null)
                                        {
                                            TempData.Keep("SubId");
                                            @*<div class="QuesNo" style="background-color:#eeeeee" ></div>*@
                                            @*@Html.TextAreaFor(m => m.QuestionName, new { @class="form-control question" , rows = "4", cols = "50"})*@

                                            <textarea contentEditable="true" id="txt" class="question" readonly style="display: inline-block;user-select: none; min-height: 150px;height:auto; resize:horizontal;resize: vertical;resize:none;border:none;">
                                            
                                            </textarea>
                                            @*<p class="question" style="overflow: hidden;  height: auto;"></p>*@
                                            @*<fieldset  class="question" style="overflow: hidden;  height: auto;"></fieldset>*@
                                            @*<div class="question" style="overflow: hidden;  height: auto;"></div>*@


                                            @*<div id="txt" contenteditable="true" class="question"  readonly style="user-select: none;  resize:none;  overflow: hidden; min-height: 50px;border:none"></div>*@
                                        }
                                        else
                                        {
                                            <div class="question">Go to<button type="button" class="btn-link" onclick="location.href='@Url.Action("TakeQuiz","Home")'"> Select Topic </button>and start the Quiz again</div>
                                        }
                                        <ul class="choiceList"></ul>
                                        <div class="quizMessage"></div>
                                        <div class="result"></div>
                                        @if (TempData["SubId"] != null)
                                        {
                                            TempData.Keep("SubId");<div class="nextButton right btn btn-primary">Next Question</div>
                                        }
                                        else
                                        {

                                        }
                                        <br>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>
    <section></section>
    @*@Html.Partial("~/Views/Home/GetScore.cshtml")*@
    <script src="~/CustomScripts/TakeQuiz/StartQuiz.js"></script>
    <script language="javascript" type="text/javascript">
        function handleVisibilityChange() {
            if (document.hidden) {
                displayScore(true);
            } else {
                console.log("Visible");
            }
        }
        //oncontextmenu="return false;"
        $(document).keydown(function (e) {
            if (e.which === 123) {
                return false;
            }
        });
        document.addEventListener("visibilitychange", handleVisibilityChange, false);
    </script>
</body>
</html>
<script>

</script>



